@media screen and (max-width:1300px){
.banner .bx-wrapper .bx-next {
    right: 40px;
}
.banner .bx-wrapper .bx-prev {
    left: 40px;
}
}

@media screen and (max-width:1200px){
.banner .bx-wrapper{
    max-width:840px !important;
	padding:70px 0px 0;
}
.banner .bx-wrapper .bx-controls-direction a {
    margin-top: 12px;
    top: 100%;
}
.banner .bx-wrapper .bx-prev {
    left: 50%;
    margin-left: -50px;
}
.banner .bx-wrapper .bx-next {
    margin-right: -50px;
    right: 50%;
}
.banner .bx-wrapper .bx-controls-direction a {
    margin-top: 12px;
    top: 100%;
}
.banner_pro_wrapper {
    width: 840px;
}
.banner_pro_wrapper ul li.b4{
	display:none;
}
.banner_ani .banner_pro_wrapper ul li.b3 img {
    width: 200px;
}
.banner_ani .banner_pro_wrapper ul li.b1 {
    left: 152px;
}
.banner_ani .banner_pro_wrapper ul li.b2 {
    left: 274px;
    z-index: 1;
}
.banner_ani .banner_pro_wrapper ul li.b3 {
    right: 152px;
    top: 10px;
}
.banner_pro_wrapper ul li.b3 {
    right: 0;
}
}
@media screen and (max-width:1000px){
.menu_nav{
	display:none;
}
.menu_btn{
	display:block;
}
.logo {
    margin-top: 10px;
    width: 45px;
}
.header {
    height: 50px;
}
.main {
    padding-top: 51px;
}
.social_icons {
    margin-top: 13px;
}
.social_icons a {
    margin-right: 15px;
}
}
@media screen and (max-width:800px){
.banner_pro{
	display:none;
}
.banner .bx-wrapper{
	opacity:1;
	visibility:visible;
}
.banner_bg{
	background:none;
}
.banner .bx-wrapper{
    margin:20px auto 0 !important; 
    max-width: 600px !important;
	padding:0 !important;
}
.banner_filter {
    margin-top: -55px;
    position: absolute;
    right: 50%;
    top: 100%;
    width: 134px;
    height: 40px;
    margin-right: -50px;
    width: 100px;
}
.banner_filter a {
    float: left;
    margin: 0 5px;
}
.slider1 .slide, .slider3 .slide {
   width: 200px !important;
}
.banner_filter a {
    background-size: 100% auto;
    height: 40px;
    width: 40px;
}
.banner_filter a.marvel {
    background-position: 0 -40px;
}
.banner {
    height: 320px;
}
.banner  .bx-wrapper img {
    width: 120px;
}
.slider1 .slide p, .slider3 .slide p {
    font-size: 12px;
    line-height: 14px;
    margin-top: 10px;
}
.slider1 .slide a, .slider3 .slide a{
	margin-top:10px;
}
.banner_bt_txt{
	display:none;
}
.banner .bx-wrapper .bx-prev {
    left: -30px;
    margin-left: 0px;
}
.banner .bx-wrapper .bx-next {
    margin-right: 0;
    right:-30px;
}
.banner .bx-wrapper .bx-controls-direction a {
    margin-top: -50px;
    top: 50%;
}
.bookslider.active{
	z-index:1;
}
}
@media screen and (max-width:680px){
.banner .bx-wrapper{
    max-width: 400px !important;
}
}
@media screen and (max-width:400px){
	.banner .bx-wrapper {
    margin: 20px auto 0 !important;
    max-width: 200px !important;
    padding: 0 !important;
}
}